{
  "swagger": "2.0",
  "info": {
    "description": "This is a beta interactive API explorer for the RingCentral Connect Platform. To use this service, you will need to have an account with the proper credentials to generate an OAuth2 access token.",
    "version": "1.0",
    "title": "RingCentral Connect Platform API Explorer",
    "termsOfService": "https://developer.ringcentral.com"
  },
  "host": "platform.devtest.ringcentral.com",
  "basePath": "/restapi",
  "tags": [
    {
      "name": "OAuth2",
      "description": ""
    },
    {
      "name": "Authentication"
    },
    {
      "name": "API Versioning"
    },
    {
      "name": "Account"
    },
    {
      "name": "Extension"
    },
    {
      "name": "Call Log"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Presence"
    },
    {
      "name": "RingOut"
    },
    {
      "name": "Client Application Info"
    },
    {
      "name": "Dictionary"
    },
    {
      "name": "Notifications: Subscription API"
    }
  ],
  "schemes": [
    "https"
  ],
  "apis": [],
  "paths": {
    "/": {
      "get": {
        "operationId": "list",
        "tags": [
          "API Versioning"
        ],
        "summary": "Get API Versions",
        "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns current API version(s) and server info.</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetVersionsResponse"
            }
          }
        }
      }
    },
    "/{apiVersion}": {
      "get": {
        "operationId": "load",
        "tags": [
          "API Versioning"
        ],
        "summary": "Get Version Info",
        "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns current API version info by apiVersion.</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "apiVersion",
            "type": "string",
            "in": "path",
            "description": "API version to be requested, for example 'v1.0'",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetVersionResponse"
            }
          }
        }
      }
    },
    "/v1.0/account": {
      "post": {
        "operationId": "create",
        "tags": [
          "Account"
        ],
        "summary": "Create Account",
        "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Creates the account in Initial state.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Accounts</td><td>Managing accounts: creating new accounts, viewing and updating account information, deleting existing accounts</td></tr><tr><td class='code'>EditAccounts</td><td>Viewing and updating user account info (including name, business name, address and phone number/account number)</td></tr><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr><tr><td class='code'>EditExtensions</td><td>Viewing and updating user extension info (includes extension name, number, email and phone number, assigned phone numbers, devices and other extension settings)</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "type": "string",
            "in": "body",
            "description": "JSON body",
            "schema": {
              "$ref": "#/definitions/CreateAccountRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetAccountInfoResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}": {
      "get": {
        "operationId": "load",
        "tags": [
          "Account"
        ],
        "summary": "Get Account Info",
        "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns basic information about a particular RingCentral customer account.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetAccountInfoResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/extension": {
      "get": {
        "operationId": "list",
        "tags": [
          "Extension"
        ],
        "summary": "Get Extension List",
        "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns the list of extensions created for a particular account. All types of extensions are included in this list.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
            "required": false
          },
          {
            "name": "perPage",
            "type": "integer",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
            "required": false
          },
          {
            "name": "status",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": true,
            "enum": [
              "Enabled",
              "Disabled",
              "NotActivated",
              "Unassigned"
            ],
            "in": "query",
            "description": "Extension current state. If 'Unassigned' is specified, then extensions without extensionNumber are returned. If not specified, then all extensions are returned",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetExtensionListResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/extension/{extensionId}": {
      "get": {
        "operationId": "load",
        "tags": [
          "Extension"
        ],
        "summary": "Get Extension Info",
        "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns basic information about a particular extension of an account.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionId",
            "default": "~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetExtensionInfoResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/active-calls": {
      "get": {
        "operationId": "listAccountActiveCalls",
        "tags": [
          "Call Log"
        ],
        "summary": "Get Account Active Calls",
        "description": "<p style='font-style:italic;'>Since 1.0.13 (Release 6.5)</p><p>Returns records of all calls that are in progress, ordered by start time in descending order.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "direction",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": true,
            "enum": [
              "Inbound",
              "Outbound"
            ],
            "in": "query",
            "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
            "required": false
          },
          {
            "name": "type",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": true,
            "enum": [
              "Voice",
              "Fax"
            ],
            "in": "query",
            "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
            "required": false
          },
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
            "required": false
          },
          {
            "name": "perPage",
            "type": "integer",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccountActiveCallsResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/extension/{extensionId}/active-calls": {
      "get": {
        "operationId": "listActiveCalls",
        "tags": [
          "Call Log"
        ],
        "summary": "Get Active Calls",
        "description": "<p style='font-style:italic;'>Since 1.0.13 (Release 6.5)</p><p>Returns records of all extension calls that are in progress, ordered by start time in descending order.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "direction",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": true,
            "enum": [
              "Inbound",
              "Outbound"
            ],
            "in": "query",
            "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
            "required": false
          },
          {
            "name": "type",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": true,
            "enum": [
              "Voice",
              "Fax"
            ],
            "in": "query",
            "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
            "required": false
          },
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
            "required": false
          },
          {
            "name": "perPage",
            "type": "integer",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExtensionActiveCallsResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/extension/{extensionId}/call-log": {
      "get": {
        "operationId": "list",
        "tags": [
          "Call Log"
        ],
        "summary": "Get Call Log Records by Filter",
        "description": "<p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns call log records filtered by the specified parameters.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionId",
            "default": "~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionNumber",
            "type": "string",
            "in": "query",
            "description": "Extension number of a user. If specified, returns call log for a particular extension only. Cannot be specified together with the phoneNumber filter",
            "required": false
          },
          {
            "name": "phoneNumber",
            "type": "string",
            "in": "query",
            "description": "Phone number of a caller/call recipient. If specified, returns all calls (both incoming and outcoming) with the mentioned phone number. Cannot be specified together with the extensionNumber filter",
            "required": false
          },
          {
            "name": "direction",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": true,
            "enum": [
              "Inbound",
              "Outbound"
            ],
            "in": "query",
            "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
            "required": false
          },
          {
            "name": "type",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": true,
            "enum": [
              "Voice",
              "Fax"
            ],
            "in": "query",
            "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
            "required": false
          },
          {
            "name": "view",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": true,
            "enum": [
              "Simple",
              "Detailed"
            ],
            "in": "query",
            "description": "The default value is 'Simple' for both account and extension call log",
            "required": false
          },
          {
            "name": "withRecording",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": true,
            "enum": [
              "True",
              "False"
            ],
            "in": "query",
            "description": "'True' if only recorded calls have to be returned",
            "required": false
          },
          {
            "name": "dateTo",
            "type": "DateTime",
            "in": "query",
            "description": "Specifies the ending timestamp for result records. Default: current time",
            "required": false
          },
          {
            "name": "dateFrom",
            "type": "DateTime",
            "in": "query",
            "description": "The start timestamp for result records. Default value is equal to dateTo minus 1 week",
            "required": false
          },
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
            "required": false
          },
          {
            "name": "perPage",
            "type": "integer",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExtensionCallLogResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/extension/{extensionId}/call-log/{callRecordId}": {
      "get": {
        "operationId": "load",
        "tags": [
          "Call Log"
        ],
        "summary": "Get Call Log Record",
        "description": "<p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns individual call log record by callRecordId(s).</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionId",
            "default": "~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": false
          },
          {
            "name": "callRecordId",
            "type": "integer",
            "in": "path",
            "description": "Internal identifier of a call log record",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetExtensionCallLogRecordResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/recording/{recordingId}": {
      "get": {
        "operationId": "loadAccountRecording",
        "tags": [
          "Call Log"
        ],
        "summary": "Get Call Recording",
        "description": "<p style='font-style:italic;'>Since 1.0.18</p><p>Returns call recording metadata.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallRecording</td><td>Downloading call recording content</td></tr><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "recordingId",
            "type": "integer",
            "in": "path",
            "description": "Internal identifier of recording (returned in Call Log)",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCallRecordingResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/extension/{extensionId}/company-pager": {
      "post": {
        "operationId": "createPager",
        "tags": [
          "Messages"
        ],
        "summary": "Create Pager Message",
        "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends a pager message.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>InternalMessages</td><td>Sending and receiving intra-company text messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionId",
            "default": "~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": false
          },
          {
            "name": "body",
            "type": "string",
            "in": "body",
            "description": "JSON body",
            "schema": {
              "$ref": "#/definitions/CreatePagerMessageRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMessageInfoResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/extension/{extensionId}/fax": {
      "post": {
        "operationId": "createFax",
        "tags": [
          "Messages"
        ],
        "summary": "Create Fax Message",
        "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends/resends new fax message. Resend can be done if sending failed.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Faxes</td><td>Sending and receiving faxes</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionId",
            "default": "~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": false
          },
          {
            "name": "body",
            "type": "string",
            "in": "body",
            "description": "JSON body",
            "schema": {
              "$ref": "#/definitions/CreateFaxMessageRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMessageInfoResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/extension/{extensionId}/sms": {
      "post": {
        "operationId": "createSms",
        "tags": [
          "Messages"
        ],
        "summary": "Create SMS Message",
        "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Creates and sends new SMS message.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>SMS</td><td>Sending and receiving SMS (text) messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionId",
            "default": "~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": false
          },
          {
            "name": "body",
            "type": "string",
            "in": "body",
            "description": "JSON body",
            "schema": {
              "$ref": "#/definitions/CreateSMSMessage"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMessageInfoResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/extension/{extensionId}/message-store": {
      "get": {
        "operationId": "list",
        "tags": [
          "Messages"
        ],
        "summary": "Get Message List",
        "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns the list of messages from an extension mailbox.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionId",
            "default": "~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": false
          },
          {
            "name": "availability",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": true,
            "enum": [
              "Alive",
              "Deleted",
              "Purged"
            ],
            "in": "query",
            "description": "Specifies the availability status for the resulting messages. Default value is 'Alive'. Multiple values are accepted",
            "required": false
          },
          {
            "name": "conversationId",
            "type": "integer",
            "in": "query",
            "description": "Specifies the conversation identifier for the resulting messages",
            "required": false
          },
          {
            "name": "dateFrom",
            "type": "DateTime",
            "in": "query",
            "description": "The start timestamp for the resulting messages. Default value is equal to dateTo minus 1 week",
            "required": false
          },
          {
            "name": "dateTo",
            "type": "DateTime",
            "in": "query",
            "description": "Specifies the ending timestamp for the resulting messages. Default: current time",
            "required": false
          },
          {
            "name": "direction",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": true,
            "enum": [
              "Inbound",
              "Outbound"
            ],
            "in": "query",
            "description": "The direction for the resulting messages. If not specified, both inbound and outbound messages are returned. Multiple values are accepted",
            "required": false
          },
          {
            "name": "messageType",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": true,
            "enum": [
              "Fax",
              "SMS",
              "VoiceMail",
              "Pager",
              "Text"
            ],
            "in": "query",
            "description": "The type of the resulting messages. If not specified, all messages without message type filtering are returned. Multiple values are accepted",
            "required": false
          },
          {
            "name": "readStatus",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": true,
            "enum": [
              "Read",
              "Unread"
            ],
            "in": "query",
            "description": "The read status for the resulting messages. Multiple values are accepted",
            "required": false
          },
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
            "required": false
          },
          {
            "name": "perPage",
            "type": "integer",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
            "required": false
          },
          {
            "name": "phoneNumber",
            "type": "string",
            "in": "query",
            "description": "The phone number. If specified, messages are returned for this particular phone number only",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMessageList"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}": {
      "get": {
        "operationId": "load",
        "tags": [
          "Messages"
        ],
        "summary": "Get Message Info",
        "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionId",
            "default": "~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": false
          },
          {
            "name": "messageId",
            "type": "integer",
            "in": "path",
            "description": "Internal identifier of a message",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMessageInfoResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "update",
        "tags": [
          "Messages"
        ],
        "summary": "Update Message",
        "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Updates an individual message or several messages. Batch request is supported. Currently, only the message read status updating is supported.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditMessages</td><td>Viewing and updating user messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionId",
            "default": "~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": false
          },
          {
            "name": "messageId",
            "type": "integer",
            "in": "path",
            "description": "Internal identifier of a message",
            "required": true
          },
          {
            "name": "body",
            "type": "string",
            "in": "body",
            "description": "JSON body",
            "schema": {
              "$ref": "#/definitions/UpdateMessageRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMessageInfoResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "remove",
        "tags": [
          "Messages"
        ],
        "summary": "Delete Message",
        "description": "<p style='font-style:italic;'></p><p>Deletes an individual message or several messages by the given message ID(s). Batch request is supported.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditMessages</td><td>Viewing and updating user messages</td></tr><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionId",
            "default": "~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": false
          },
          {
            "name": "messageId",
            "type": "integer",
            "in": "path",
            "description": "Internal identifier of a message",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMessageInfoResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/extension/{extensionId}/message-store/{messageId}/content/{attachmentId}": {
      "get": {
        "operationId": "loadContent",
        "tags": [
          "Messages"
        ],
        "summary": "Get Message Attachment",
        "description": "<p style='font-style:italic;'>Since 1.0.4 (Release 5.13)</p><p>Returns particular message attachment data as a media stream.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadMessages</td><td>Viewing user messages</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Medium</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionId",
            "default": "~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": false
          },
          {
            "name": "attachmentId",
            "type": "integer",
            "in": "path",
            "description": "Internal identifier of a message attachment",
            "required": true
          },
          {
            "name": "messageId",
            "type": "integer",
            "in": "path",
            "description": "Internal identifier of a message",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetMessageInfoResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/extension/{extensionId}/presence": {
      "get": {
        "operationId": "load",
        "tags": [
          "Presence"
        ],
        "summary": "Get Extension Presence Status",
        "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns presence status of an extension or several extensions. The presenceStatus is returned as Offline (the parameters telephonyStatus, message, userStatus and dndStatus are not returned at all) for the following extension types: Department/Announcement Only/Take Messages Only (Voicemail)/Fax User/Paging Only Group/Shared Lines Group/IVR Menu/Application Extension. If the user requests his/her own presence status, the response contains actual presence status even if the status publication is turned off. Batch request is supported. For batch requests the number of extensions in one request is limited to 30. If more extensions are included in the request, the error code 400 Bad Request is returned with the logical error code InvalidMultipartRequest and the corresponding message 'Extension Presence Info multipart request is limited to 30 extensions'.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadPresence</td><td>Getting user presence information</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionId",
            "default": "~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetPresenceInfo"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/extension/{extensionId}/ringout": {
      "post": {
        "operationId": "create",
        "tags": [
          "RingOut"
        ],
        "summary": "Make RingOut Call",
        "description": "<p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionId",
            "default": "~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": false
          },
          {
            "name": "body",
            "type": "string",
            "in": "body",
            "description": "JSON body",
            "schema": {
              "$ref": "#/definitions/MakeRingoutRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRingOutStatusResponse"
            }
          }
        }
      }
    },
    "/v1.0/account/{accountId}/extension/{extensionId}/ringout/{ringoutId}": {
      "get": {
        "operationId": "load",
        "tags": [
          "RingOut"
        ],
        "summary": "Get Status of RingOut Call",
        "description": "<p style='font-style:italic;'>Since 1.0.7 (Release 5.16)</p><p>Returns the status of a 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Light</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accountId",
            "default":"~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
            "required": false
          },
          {
            "name": "extensionId",
            "default": "~",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
            "required": false
          },
          {
            "name": "ringoutId",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a RingOut call",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetRingOutStatusResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "remove",
        "tags": [
          "RingOut"
        ],
        "summary": "Cancel RingOut Call",
        "description": "<p style='font-style:italic;'></p><p>Cancels the 2-leg RingOut call.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>RingOut</td><td>Performing two-legged ring-out phone calls</td></tr><tr><td class='code'>accountId</td><td>string</td></tr><tr><td class='code'>extensionId</td><td>string</td></tr><tr><td class='code'>ringoutId</td><td>string</td></tr></tbody></table><h4>Usage Plan Group</h4><p>Heavy</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/"
            }
          }
        }
      }
    },
    "/v1.0/client-info": {
      "get": {
        "operationId": "list",
        "tags": [
          "Client Application Info"
        ],
        "summary": "Get Client Info",
        "description": "<p style='font-style:italic;'>Since 1.0.11 (Release 6.3)</p><p>Returns client application data: general info, specific provisioning parameters, hints, etc.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadClientInfo</td><td>Viewing of client application registered attributes and additional helper information (external URLs, hints, etc.)</td></tr></tbody></table>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ClientApiResponse"
            }
          }
        }
      }
    },
    "/v1.0/client-info/custom-data/{my-custom-key}": {
      "put": {
        "operationId": "load",
        "tags": [
          "Client Application Info"
        ],
        "summary": "Create/Update Custom Data",
        "description": "<p style='font-style:italic;'>Since 1.0.14 (Release 6.6)</p><p>Creates or updates custom data for the extension that is currently logged in.</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "my-custom-key",
            "type": "string",
            "in": "path",
            "description": "Custom data access key. The number of unique custom data keys is limited to 100 keys per extension, summarized for all the applications. For example, if you have created 50 custom data keys under the Android mobile client application for the particular extension, then logged in the iOS application and created another 50 keys, the web client application won't be allowed to create any custom data key for that extension.",
            "required": true
          },
          {
            "name": "body",
            "type": "string",
            "in": "body",
            "description": "JSON body",
            "schema": {
              "$ref": "#/definitions/CustomDataRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CustomDataApiResponse"
            }
          }
        }
      }
    },
    "/v1.0/dictionary/country": {
      "get": {
        "operationId": "listCountries",
        "tags": [
          "Dictionary"
        ],
        "summary": "Get Country List",
        "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Returns all the countries available for calling.</p><h4>Usage Plan Group</h4><p>Light</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
            "required": false
          },
          {
            "name": "perPage",
            "type": "integer",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCountryListResponse"
            }
          }
        }
      }
    },
    "/v1.0/dictionary/country/{countryId}": {
      "get": {
        "operationId": "loadCountry",
        "tags": [
          "Dictionary"
        ],
        "summary": "Get Country",
        "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Returns the information on the required country.</p><h4>Usage Plan Group</h4><p>Light</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "countryId",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a country",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CountryInfo"
            }
          }
        }
      }
    },
    "/v1.0/dictionary/language": {
      "get": {
        "operationId": "listLanguages",
        "tags": [
          "Dictionary"
        ],
        "summary": "Get Language List",
        "description": "<p style='font-style:italic;'>Since 1.0.14 (Release 6.6)</p><p>Returns the information about supported languages.</p><h4>Usage Plan Group</h4><p>Light</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/"
            }
          }
        }
      }
    },
    "/v1.0/dictionary/language/{languageId}": {
      "get": {
        "operationId": "loadLanguage",
        "tags": [
          "Dictionary"
        ],
        "summary": "Get Language",
        "description": "<p style='font-style:italic;'>Since 1.0.14 (Release 6.6)</p><p>Returns language by its respective ID.</p><h4>Usage Plan Group</h4><p>Light</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LanguageInfo"
            }
          }
        }
      }
    },
    "/v1.0/dictionary/location": {
      "get": {
        "operationId": "listLocations",
        "tags": [
          "Dictionary"
        ],
        "summary": "Get Location List",
        "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Returns all the available locations for the certain state.</p><h4>Usage Plan Group</h4><p>Light</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "orderBy",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": true,
            "enum": [
              "Npa",
              "City"
            ],
            "in": "query",
            "description": "Sorts results by the specified property. The default value is 'City'",
            "required": false
          },
          {
            "name": "page",
            "type": "integer",
            "in": "query",
            "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
            "required": false
          },
          {
            "name": "perPage",
            "type": "integer",
            "in": "query",
            "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
            "required": false
          },
          {
            "name": "stateId",
            "type": "string",
            "in": "query",
            "description": "Internal identifier of a state",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetLocationListResponse"
            }
          }
        }
      }
    },
    "/v1.0/subscription": {
      "post": {
        "operationId": "create",
        "tags": [
          "Notifications: Subscription API"
        ],
        "summary": "Create Subscription",
        "description": "<p style='font-style:italic;'>Since 1.0.6 (Release 5.15)</p><p>Creates a new subscription. To call this method with APNS transport type you have to specify endpoint_id attribute in get token request at authorization.</p><h4>Usage Plan Group</h4><p>Medium</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "type": "string",
            "in": "body",
            "description": "JSON body",
            "schema": {
              "$ref": "#/definitions/CreateSubscriptionRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSubscriptionInfoResponse"
            }
          }
        }
      }
    },
    "/v1.0/subscription/{subscriptionId}": {
      "get": {
        "operationId": "load",
        "tags": [
          "Notifications: Subscription API"
        ],
        "summary": "Get Subscription",
        "description": "<p style='font-style:italic;'>Since 1.0.6 (Release 5.15)</p><p>Returns the requested subscription.</p><h4>Usage Plan Group</h4><p>Light</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a subscription",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSubscriptionInfoResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "update",
        "tags": [
          "Notifications: Subscription API"
        ],
        "summary": "Renew Subscription / Modify Event Filters",
        "description": "<p style='font-style:italic;'>Since 1.0.6 (Release 5.15)</p><p>With empty request body - renews the existent subscription. If event filters specified - modifies the event filters for the existing subscription. The client application can extend or narrow the events for which it receives notifications in the frame of one subscription.</p><h4>Usage Plan Group</h4><p>Medium</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a subscription",
            "required": true
          },
          {
            "name": "body",
            "type": "string",
            "in": "body",
            "description": "JSON body",
            "schema": {
              "$ref": "#/definitions/ModifySubscriptionRequest"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSubscriptionInfoResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "remove",
        "tags": [
          "Notifications: Subscription API"
        ],
        "summary": "Cancel Subscription",
        "description": "<p style='font-style:italic;'></p><p>Cancels the existent subscription.</p><h4>Usage Plan Group</h4><p>Medium</p>",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "subscriptionId",
            "type": "string",
            "in": "path",
            "description": "Internal identifier of a subscription",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CreateAccountRequest": {
      "required": [
      ],
      "properties": {
        "mainNumber": {
          "type": "string",
          "description": "Main account VoIP phone number, either Local or Toll-Free. Cannot be Fax Only. Obtained via lookup/reserve API"
        },
        "operator": {
          "$ref": "#/definitions/OperatorInfo",
          "description": "Operator extension information"
        },
        "serviceInfo": {
          "$ref": "#/definitions/ServiceInfoRequest",
          "description": "Account service information, brand identifier and service plan"
        },
        "status": {
          "type": "string",
          "enum": [
            "Initial",
            "Unconfirmed",
            "Confirmed"
          ],
          "description": "The status with which an account is created. The default value is 'Initial'"
        },
        "partnerId": {
          "type": "string",
          "description": "Partner identifier for this account"
        }
      }
    },
    "CreatePagerMessageRequest": {
      "required": [
      ],
      "properties": {
        "from": {
          "$ref": "#/definitions/MessageStoreCallerInfo",
          "description": "Sender of pager message. The extensionNumber property must be filled"
        },
        "replyOn": {
          "type": "integer",
          "description": "Optional. ID of a message this message replies to"
        },
        "text": {
          "type": "string",
          "description": "Text of pager message"
        },
        "to": {
          "$ref": "#/definitions/MessageStoreCallerInfo",
          "description": "Receiver of pager message. The extensionNumber property must be filled"
        }
      }
    },
    "CreateFaxMessageRequest": {
      "required": [
      ],
      "properties": {
        "to": {
          "$ref": "#/definitions/MessageStoreCallerInfo",
          "description": "Recipient information. Phone number property is mandatory. Optional for resend fax request"
        },
        "resolution": {
          "type": "string",
          "enum": [
            "High",
            "Low"
          ],
          "description": "Fax resolution"
        },
        "sendTime": {
          "type": "DateTime",
          "description": "Optional. Timestamp to send fax at. If not specified (current or the past), the fax is sent immediately"
        },
        "coverIndex": {
          "type": "integer (0-16)",
          "description": "Optional. Cover page index. If not specified, the default cover page which is configured in  Outbound Fax Settings  is attached. See also 'Available Cover Pages' table below"
        },
        "coverPageText": {
          "type": "string",
          "description": "Optional. Cover page text, entered by the fax sender and printed on the cover page. Maximum length is limited to 1024 symbols"
        },
        "originalMessageId": {
          "type": "string",
          "description": "Internal identifier of the original fax message which needs to be resent. Supported for resend fax request"
        }
      }
    },
    "CreateSMSMessage": {
      "required": [
      ],
      "properties": {
        "from": {
          "$ref": "#/definitions/MessageStoreCallerInfo",
          "description": "Sender of SMS message. The phoneNumber property must be filled to correspond to one of the account phone numbers which is allowed for given extension to send SMS from"
        },
        "to": {
          "$ref": "#/definitions/MessageStoreCallerInfo",
          "description": "Receiver of SMS message. The phoneNumber property must be filled"
        },
        "text": {
          "type": "string",
          "description": "Text of SMS message"
        }
      }
    },
    "UpdateMessageRequest": {
      "required": [
      ],
      "properties": {
        "readStatus": {
          "type": "string",
          "enum": [
            "Read",
            "Unread"
          ],
          "description": "Read status of a message to be changed. Multiple values are accepted"
        }
      }
    },
    "MakeRingoutRequest": {
      "required": [
        "from",
        "to"
      ],
      "properties": {
        "from": {
          "$ref": "#/definitions/MakeRingOutCallerInfoRequest",
          "description": "Phone number of the caller. This number corresponds to the 1st leg of the RingOut call. This number can be one of user's configured forwarding numbers or arbitrary number."
        },
        "to": {
          "$ref": "#/definitions/MakeRingOutCallerInfoRequest",
          "description": "Phone number of the called party. This number corresponds to the 2nd leg of the RingOut call."
        },
        "callerId": {
          "$ref": "#/definitions/MakeRingOutCallerInfoRequest",
          "description": "The number which will be displayed to the called party."
        },
        "playPrompt": {
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "description": "The audio prompt that the calling party hears when the call is connected."
        }
      }
    },
    "MakeRingOutCallerInfoRequest": {
      "required": [
      ],
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Phone number of a party. Usually it is a plain number including country and area code like 18661234567. But sometimes it could be returned from database with some formatting applied, for example (866)123-4567. This property is filled in all cases where parties communicate by means of global phone numbers, for example when calling to direct numbers or sending/receiving SMS"
        }
      }
    },
    "CustomDataRequest": {
      "required": [
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Custom data access key. Optional. If specified, must match the custom key in the URL"
        },
        "value": {
          "type": "string",
          "description": "Description of custom data. Mandatory for create, if there is no attachment specified. Maximum length is limited to 256 symbols"
        }
      }
    },
    "CustomDataAttachmentContent": {
      "required": [
      ],
      "properties": {
        "Content-Type": {
          "type": "MIME type",
          "description": "Type of custom data attachment, see also MIME Types"
        },
        "Content-disposition": {
          "type": "",
          "description": "Filename and binary data. Maximum attachment size is limited to 5Mb"
        }
      }
    },
    "CreateSubscriptionRequest": {
      "required": [
        "deliveryMode"
      ],
      "properties": {
        "eventFilters": {
          "type": "string",
          "description": "Mandatory. Collection of URIs to API resources (see Event Types for details). For APNS transport type only message event filter is available"
        },
        "deliveryMode": {
          "type": "array",
          "items": {
            "type": "Collection of parameters"
          }
        },
        "transportType": {
          "type": "string",
          "enum": [
            "PubNub",
            "APNS"
          ],
          "description": "Notifications transportation provider name. 'APNS' (Apple Push Notifications Service)"
        },
        "encryption": {
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "description": "Optional parameter. Specifies if the message will be encrypted or not. If request contains any presence event filter the value by default is 'true' (even if specified as 'false'). If request contains only message event filters the value by default is 'false'"
        }
      }
    },
    "ModifySubscriptionRequest": {
      "required": [
      ],
      "properties": {
        "eventFilters": {
          "type": "string",
          "description": "Collection of URIs to API resources (see Event Types). Mandatory field"
        }
      }
    },
    "GetVersionsResponse": {
      "required": [
      ],
      "properties": {
        "uri": {
          "type": "string",
          "description": "Сanonical URI of the API version"
        },
        "apiVersions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VersionInfo"
          }
        },
        "serverVersion": {
          "type": "string",
          "description": "Server version"
        },
        "serverRevision": {
          "type": "string",
          "description": "Server revision"
        }
      }
    },
    "VersionInfo": {
      "required": [
      ],
      "properties": {
        "uri": {
          "type": "string",
          "description": "Canonical URI of API versions"
        },
        "versionString": {
          "type": "string",
          "description": "Version of the RingCentral REST API"
        },
        "releaseDate": {
          "type": "string",
          "description": "Release date of this version"
        },
        "uriString": {
          "type": "string",
          "description": "URI part determining the current version"
        }
      }
    },
    "GetVersionResponse": {
      "required": [
      ],
      "properties": {
        "uri": {
          "type": "string",
          "description": "Canonical URI of the version info resource"
        },
        "versionString": {
          "type": "string",
          "description": "Version of the RingCentral REST API"
        },
        "releaseDate": {
          "type": "string",
          "description": "Release date of this version"
        },
        "uriString": {
          "type": "string",
          "description": "URI part determining the current version"
        }
      }
    },
    "GetAccountInfoResponse": {
      "required": [
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of an account"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of an account"
        },
        "mainNumber": {
          "type": "string",
          "description": "Main phone number of the current account"
        },
        "opeartor": {
          "$ref": "#/definitions/GetExtensionInfoResponse",
          "description": "Operator's extension information. This extension will receive all calls and messages intended for the operator"
        },
        "partnerId": {
          "type": "string",
          "description": "Additional account identifier, developed and applied by the client"
        },
        "serviceInfo": {
          "$ref": "#/definitions/ServiceInfoResponse",
          "description": "Account service information, including brand, service plan and billing plan"
        },
        "setupWizardState": {
          "type": "string",
          "enum": [
            "NotStarted",
            "Incomplete",
            "Completed"
          ],
          "description": "Specifies account configuration wizard state (web service setup). The default value is 'NotStarted'"
        },
        "status": {
          "type": "string",
          "enum": [
            "Confirmed",
            "Disabled"
          ],
          "description": "Status of the current account"
        },
        "statusInfo": {
          "$ref": "#/definitions/AccountStatusInfo",
          "description": "Status information (reason, comment, lifetime). Returned for 'Disabled' status only"
        }
      }
    },
    "AccountStatusInfo": {
      "required": [
      ],
      "properties": {
        "reason": {
          "type": "string",
          "description": "Foo"
        },
        "comment": {
          "type": "string",
          "description": "Foo"
        },
        "lifetime": {
          "type": "string",
          "description": "Foo"
        }
      }
    },
    "ServiceInfoResponse": {
      "required": [
      ],
      "properties": {
        "uri": {
          "type": "string",
          "description": "Canonical URI of a service info resource"
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlanInfo",
          "description": "Information on account billing plan"
        },
        "brand": {
          "$ref": "#/definitions/BrandInfo",
          "description": "Information on account brand"
        },
        "servicePlan": {
          "$ref": "#/definitions/ServicePlanInfo",
          "description": "Information on account service plan"
        },
        "targetServicePlan": {
          "$ref": "#/definitions/TargetServicePlanInfo",
          "description": "Information on account target service plan"
        }
      }
    },
    "BillingPlanInfo": {
      "required": [
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a billing plan"
        },
        "name": {
          "type": "string",
          "description": "Billing plan name"
        },
        "durationUnit": {
          "type": "string",
          "enum": [
            "Month",
            "Day"
          ],
          "description": "Duration period"
        },
        "duration": {
          "type": "string",
          "description": "Number of duration units"
        },
        "type": {
          "type": "string",
          "enum": [
            "Initial",
            "Regular",
            "Suspended",
            "Trial",
            "TrialNoCC",
            "Free"
          ],
          "description": "Billing plan type"
        }
      }
    },
    "BrandInfo": {
      "required": [
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a brand"
        },
        "name": {
          "type": "string",
          "description": "Brand name, for example  RingCentral UK ,  ClearFax "
        },
        "homeCountry": {
          "$ref": "#/definitions/CountryInfo",
          "description": "Home country information"
        }
      }
    },
    "CountryInfo": {
      "required": [
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a home country"
        },
        "uri": {
          "type": "string",
          "description": "Home country URI"
        },
        "callingCode": {
          "type": "string",
          "description": "Home country calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes"
        },
        "isoCode": {
          "type": "string",
          "description": "Home country code according to the ISO standard, see ISO 3166"
        }
      }
    },
    "ServicePlanInfo": {
      "required": [
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a service plan"
        },
        "name": {
          "type": "string",
          "description": "Name of a service plan"
        },
        "edition": {
          "type": "string",
          "description": "Edition of a service plan"
        }
      }
    },
    "TargetServicePlanInfo": {
      "required": [
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a target service plan"
        },
        "name": {
          "type": "string",
          "description": "Name of a target service plan"
        }
      }
    },
    "ExtensionStatusInfo": {
      "required": [
      ],
      "properties": {
        "comment": {
          "type": "string",
          "description": "A free-form user comment, describing the status change reason"
        },
        "reason": {
          "type": "string",
          "enum": [
            "Voluntarily",
            "Involuntarily"
          ],
          "description": "Type of suspension"
        }
      }
    },
    "GetExtensionListResponse": {
      "required": [
      ],
      "properties": {
        "records": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GetExtensionInfoResponse"
          }
        },
        "navigation": {
          "$ref": "#/definitions/NavigationInfo",
          "description": "Information on navigation"
        },
        "paging": {
          "$ref": "#/definitions/PagingInfo",
          "description": "Information on paging"
        }
      }
    },
    "NavigationInfo": {
      "required": [
      ],
      "properties": {
        "firstPage": {
          "type": "#/definitions/NavigationInfoPage",
          "description": "Canonical URI for the first page of the list"
        },
        "nextPage": {
          "type": "#/definitions/NavigationInfoPage",
          "description": "Canonical URI for the next page of the list"
        },
        "previousPage": {
          "type": "#/definitions/NavigationInfoPage",
          "description": "Canonical URI for the previous page of the list"
        },
        "lastPage": {
          "type": "#/definitions/NavigationInfoPage",
          "description": "Canonical URI for the last page of the list"
        }
      }
    },
    "NavigationInfoPage": {
      "required": [
      ],
      "properties": {
        "uri": {
          "type": "string",
          "description": "Canonical URI"
        }
      }
    },
    "PagingInfo": {
      "required": [
      ],
      "properties": {
        "page": {
          "type": "integer",
          "description": "The current page number. 1-indexed, so the first page is 1 by default. May be omitted if result is empty (because non-existent page was specified or perPage=0 was requested)"
        },
        "perPage": {
          "type": "integer",
          "description": "Current page size, describes how many items are in each page. Default value is 100. Maximum value is 1000. If perPage value in the request is greater than 1000, the maximum value (1000) is applied"
        },
        "pageStart": {
          "type": "integer",
          "description": "The zero-based number of the first element on the current page. Omitted if the page is omitted or result is empty"
        },
        "pageEnd": {
          "type": "integer",
          "description": "The zero-based index of the last element on the current page. Omitted if the page is omitted or result is empty"
        },
        "totalPages": {
          "type": "integer",
          "description": "The total number of pages in a dataset. May be omitted for some resources due to performance reasons"
        },
        "totalElements": {
          "type": "integer",
          "description": "The total number of elements in a dataset. May be omitted for some resource due to performance reasons"
        }
      }
    },
    "GetExtensionInfoResponse": {
      "required": [
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of an extension"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of an extension"
        },
        "contact": {
          "$ref": "#/definitions/ContactInfo",
          "description": "Contact detailed information"
        },
        "departments": {
          "$ref": "#/definitions/DepartmentInfo",
          "description": "Information on department extension(s), to which the requested extension belongs. Returned only for user extensions, members of department, requested by single extensionId"
        },
        "extensionNumber": {
          "type": "string",
          "description": "Number of department extension"
        },
        "name": {
          "type": "string",
          "description": "Extension user name"
        },
        "partnerId": {
          "type": "string",
          "description": "For Partner Applications Internal identifier of an extension created by partner. The RingCentral supports the mapping of accounts and stores the corresponding accountId/extensionId for each partnerId of a client application. In request URIs partnerIds are accepted instead of regular RingCentral native IDs as path parameters using pid = XXX clause. Though in response URIs contain the corresponding accountIds and extensionIds. In all request and response bodies these values are reflected via  partnerId  attributes of account and extension"
        },
        "permissions": {
          "$ref": "#/definitions/ExtensionPermissions",
          "description": "Extension permissions, corresponding to the Service Web permissions 'Admin' and 'InternationalCalling'"
        },
        "regionalSettings": {
          "$ref": "#/definitions/RegionalSettingsInfo",
          "description": "Extension region data (timezone, home country, language)"
        },
        "serviceFeatures": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExtensionServiceFeatureInfo"
          }
        },
        "setupWizardState": {
          "type": "string",
          "enum": [
            "NotStarted",
            "Incomplete",
            "Completed"
          ],
          "description": "Specifies extension configuration wizard state (web service setup). The default value is 'NotStarted'"
        },
        "status": {
          "type": "string",
          "enum": [
            "Enabled",
            "Disabled",
            "NotActivated",
            "Unassigned"
          ],
          "description": "Extension current state"
        },
        "statusInfo": {
          "$ref": "#/definitions/ExtensionStatusInfo",
          "description": "Status information (reason, comment). Returned for 'Disabled' status only"
        },
        "type": {
          "type": "string",
          "enum": [
            "User",
            "Fax User",
            "VirtualUser",
            "DigitalUser",
            "Department",
            "Announcement",
            "Voicemail",
            "SharedLinesGroup",
            "PagingOnly",
            "IvrMenu",
            "ApplicationExtension"
          ],
          "description": "Extension type"
        }
      }
    },
    "ContactInfo": {
      "required": [
      ],
      "properties": {
        "firstName": {
          "type": "string",
          "description": "For User extension type only. Extension user first name"
        },
        "lastName": {
          "type": "string",
          "description": "For User extension type only. Extension user last name"
        },
        "company": {
          "type": "string",
          "description": "Extension user company name"
        },
        "email": {
          "type": "string",
          "description": "Email of extension user"
        },
        "businessPhone": {
          "type": "string",
          "description": "Extension user contact phone number"
        },
        "businessAddress": {
          "$ref": "#/definitions/ContactAddressInfo",
          "description": "Business address of extension user company"
        }
      }
    },
    "ContactAddressInfo": {
      "required": [
      ],
      "properties": {
        "country": {
          "type": "string",
          "description": "Country name of extension user company"
        },
        "state": {
          "type": "string",
          "description": "State/province name of extension user company"
        },
        "city": {
          "type": "string",
          "description": "City name of extension user company"
        },
        "street": {
          "type": "string",
          "description": "Street address of extension user company"
        },
        "zip": {
          "type": "string",
          "description": "Zip code of extension user company"
        }
      }
    },
    "DepartmentInfo": {
      "required": [
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a department extension"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a department extension"
        },
        "extensionNumber": {
          "type": "string",
          "description": "Number of a department extension"
        }
      }
    },
    "ExtensionPermissions": {
      "required": [
      ],
      "properties": {
        "admin": {
          "$ref": "#/definitions/PermissionInfo",
          "description": "Admin permission"
        },
        "internationalCalling": {
          "$ref": "#/definitions/PermissionInfo",
          "description": "International Calling permission"
        }
      }
    },
    "PermissionInfo": {
      "required": [
      ],
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Specifies if a permission is enabled or not"
        }
      }
    },
    "RegionalSettingsInfo": {
      "required": [
      ],
      "properties": {
        "homeCountry": {
          "$ref": "#/definitions/CountryInfo",
          "description": "Extension country information"
        },
        "timezone": {
          "$ref": "#/definitions/TimezoneInfo",
          "description": "Extension timezone information"
        },
        "language": {
          "$ref": "#/definitions/LanguageInfo",
          "description": "User interface language data"
        },
        "greetingLanguage": {
          "$ref": "#/definitions/GreetingLanguageInfo",
          "description": "Information on language used for telephony greetings"
        },
        "formattingLocale": {
          "$ref": "#/definitions/FormattingLocaleInfo",
          "description": "Formatting language preferences for numbers, dates and currencies"
        }
      }
    },
    "TimezoneInfo": {
      "required": [
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a timezone"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a timezone"
        },
        "name": {
          "type": "string",
          "description": "Short name of a timezone"
        },
        "description": {
          "type": "string",
          "description": "Meaningful description of the timezone"
        }
      }
    },
    "LanguageInfo": {
      "required": [
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a language"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a language"
        },
        "greeting": {
          "type": "boolean",
          "description": "Indicates whether a language is available as greeting language"
        },
        "formattingLocale": {
          "type": "boolean",
          "description": "Indicates whether a language is available as formatting locale"
        },
        "localeCode": {
          "type": "string",
          "description": "Localization code of a language"
        },
        "name": {
          "type": "string",
          "description": "Official name of a language"
        },
        "ui": {
          "type": "boolean",
          "description": "Indicates whether a language is available as UI language"
        }
      }
    },
    "GreetingLanguageInfo": {
      "required": [
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a greeting language"
        },
        "localeCode": {
          "type": "string",
          "description": "Localization code of a greeting language"
        },
        "name": {
          "type": "string",
          "description": "Official name of a greeting language"
        }
      }
    },
    "FormattingLocaleInfo": {
      "required": [
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a formatting language"
        },
        "localeCode": {
          "type": "string",
          "description": "Localization code of a formatting language"
        },
        "name": {
          "type": "string",
          "description": "Official name of a formatting language"
        }
      }
    },
    "ExtensionServiceFeatureInfo": {
      "required": [
      ],
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Feature status; shows feature availability for an extension"
        },
        "featureName": {
          "type": "string",
          "description": "Feature name, see all available values in Service Feature List"
        },
        "reason": {
          "type": "string",
          "description": "Reason of limitation for a particular service feature. Returned only if the enabled parameter value is 'False', see Service Feature Limitations and Reasons. When retrieving service features for an extension, the reasons for the limitations, if any, are returned in response"
        }
      }
    },
    "ServiceFeatureLimitations": {
      "required": [
      ],
      "properties": {
        "AccountTypeLimitation": {
          "type": "Principal account type limitation. Feature is not supported for account type",
          "description": "Free Digital Line service feature is turned off on UBP tier"
        },
        "ExtensionTypeLimitation": {
          "type": "Principal extension type limitation. Feature is not supported for particular extension type (built-in Product restriction)",
          "description": "Announcement Only or Take Messages Only extension types that cannot send SMS, feature is disabled because of immutable extension type limitation and it is impossible to change the type of this extension"
        },
        "AccountLimitation": {
          "type": "Account limitation (service parameter setting at brand, tier or account level); can be changed only by RC Customer Support, or by upgrading to a different tier",
          "description": "SMS can be turned off for a particular account/tier"
        },
        "ExtensionLimitation": {
          "type": "Extension limitation, requiring chargeable action; can be changed by Account Administrator, requires chargeable action (except tier upgrades)",
          "description": "For Free Digital Line (FreeDL) service feature, available only if there is at least one paid digital line on this extension"
        },
        "InsufficientPermissions": {
          "type": "Extension limitation, resolution is not chargeable; can be changed by Account Administrator without extra charges",
          "description": "International Calling is turned off using extension permissions"
        }
      }
    },
    "AccountActiveCallsResponse": {
      "required": [
        "records",
        "paging",
        "navigation"
      ],
      "properties": {
        "records": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CallLogRecord"
          }
        },
        "paging": {
          "$ref": "#/definitions/PagingInfo",
          "description": "Information on paging"
        },
        "navigation": {
          "$ref": "#/definitions/NavigationInfo",
          "description": "Information on navigation"
        }
      }
    },
    "ExtensionActiveCallsResponse": {
      "required": [
      ],
      "properties": {
        "perPage": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CallLogRecord"
          }
        },
        "perPage": {
          "$ref": "#/definitions/PagingInfo",
          "description": "Standard collection metadata, except for properties totalPages and totalElements, which are not returned for this request. The total number of elements per page is not specified, and the page enumeration is absent"
        },
        "perPage": {
          "$ref": "#/definitions/NavigationInfo",
          "description": "Standard collection metadata"
        }
      }
    },
    "ExtensionCallLogResponse": {
      "required": [
        "records",
        "paging",
        "navigation"
      ],
      "properties": {
        "records": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CallLogRecord"
          }
        },
        "paging": {
          "$ref": "#/definitions/PagingInfo",
          "description": "Information on paging"
        },
        "navigation": {
          "$ref": "#/definitions/NavigationInfo",
          "description": "Information on navigation"
        }
      }
    },
    "CallLogRecord": {
      "required": [
        "legs"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a cal log record"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a call log record"
        },
        "sessionId": {
          "type": "string",
          "description": "Internal identifier of a call session"
        },
        "from": {
          "$ref": "#/definitions/CallLogCallerInfo",
          "description": "Caller information"
        },
        "to": {
          "$ref": "#/definitions/CallLogCallerInfo",
          "description": "Callee information"
        },
        "type": {
          "type": "string",
          "enum": [
            "Voice",
            "Fax"
          ],
          "description": "Call type"
        },
        "direction": {
          "type": "string",
          "enum": [
            "Inbound",
            "Outbound"
          ],
          "description": "Call direction"
        },
        "action": {
          "type": "string",
          "enum": [
            "Unknown",
            "Phone Call",
            "Phone Login",
            "Incoming Fax",
            "Accept Call",
            "FindMe",
            "FollowMe",
            "Outgoing Fax",
            "Call Return",
            "Calling Card",
            "Ring Directly",
            "RingOut Web",
            "VoIP Call",
            "RingOut PC",
            "RingMe",
            "Transfer",
            "411 Info",
            "Emergency",
            "E911 Update",
            "Support",
            "RingOut Mobile"
          ],
          "description": "Action description of the call operation."
        },
        "result": {
          "type": "string",
          "enum": [
            "Unknown",
            "ResultInProgress",
            "Missed",
            "Call accepted",
            "Voicemail",
            "Rejected",
            "Reply",
            "Received",
            "Receive Error",
            "Fax on Demand",
            "Partial Receive",
            "Blocked",
            "Call сonnected",
            "No Answer",
            "Busy",
            "Send Error",
            "Sent",
            "No fax machine",
            "ResultEmpty",
            "Account",
            "Suspended",
            "Call Failed",
            "Call Failure",
            "Internal Error",
            "IP Phone offline",
            "Restricted Number",
            "Wrong Number",
            "Stopped",
            "Hang up",
            "Poor Line Quality",
            "Partially Sent",
            "International Disabled",
            "International Restriction",
            "Abandoned",
            "Declined",
            "Fax Receipt Error",
            "Fax Send Error"
          ],
          "description": "Status description of the call operation."
        },
        "startTime": {
          "type": "DateTime",
          "description": "Call start time"
        },
        "duration": {
          "type": "integer",
          "description": "Call duration in seconds"
        },
        "transport": {
          "type": "string",
          "enum": [
            "PSTN",
            "VoIP"
          ],
          "description": "Call transport"
[...]
